01.Informacion_varia
data\Plan de Seguridad Vial 2020-2023.pdf
data\Plan de Seguridad Vial 2020-2023.pdf
Plan de Seguridad Vial 2020-2023.pdf
aditional data
Theme.json
BA_set_up.json
Presentacion Proyecto.docx
Dinamyc KPIS Meassures to create.txt
KPIS Meassures to create.txt
data\aditional data
data\aditional data\Conteocicilistas-GCBA.csv